<%= include_gon %>
<%= javascript_include_tag 'freakmap' %>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJtuJh7CUyciLAoSNyNIP7d0jKI4juqXE&callback=initMap">
</script>
<div id="map" style="height: 100%">

</div>