@charset "utf-8";
@import "compass";

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.main_heading {
  margin: 20% 0;
}

.section, .entry {
  position: relative;
}

.section {
  margin: 10% 0;
  padding: 5% 0;
  overflow: hidden;
  @include transition(background-color 1s ease-out);
  &.open {
    background-color: #eee;
  }

  .gradient {
    @include background-image(linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1)));
  }
}

.section_heading, .entry_heading {
  cursor: pointer;
  &:hover, a:hover {
    color: #555555;
    text-decoration: none;
  }
  a {
    color: inherit
  }
}

.section_heading {
  position: relative;
  z-index: 1;
}

.entry_heading {
  font-size: 2em;
  bottom: 0;
  position: absolute;
  z-index: 2;
  @include transition(color .5s ease-out, font-size .5s ease-out);
}

a {
  text-decoration: none;
  color: #08f;
}

a:hover {
  text-decoration: underline;
}

.cta {
    background-color: #06f;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    @include border-radius(5px);
    display: inline-block;
}

p {
    line-height: 1.5em;
}

.subsection, .section_description {
  display: none;
  // Fixes slideToggle issue:
  overflow: hidden;
}

.section_description {
  font-size: 1.5em;
  @include transition(font-size .5s ease-out);
}

.entries {
  margin: 2em 0;
  list-style-type: none;
  padding: 0;
}

.entry {
  padding: 2em 0 0;
  margin: 2em 0;
  @include transition(padding .5s ease-out, margin .5s ease-out);
  &.open {
    color: #fff;
    .entry_heading {
      font-size: 4em;
      &:hover {
        color: #fff;
      }
    }
    padding: 0;
    margin: 0;
  }
  .gradient {
    @include background-image(linear-gradient(top, rgba(68, 68, 68, 0), rgba(68, 68, 68, 1)));
  }
}

.section_description, .container, .entry_heading_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 10px;
  position: relative;
}

.container {
  padding-bottom: 1em;
  z-index: 1;
}

.contents {
  background: #444;
  display: none;
}

.video {
  @include background-size(cover);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section_video {
  display: none;
  position: absolute;
  top: 0;
  z-index: 0;
}

.videoBG, .videoBG_wrapper {
  width: 100% !important;
}

.gradient {
  bottom: 0;
  height: 300px;
  position: absolute;
  width: 100%;
}

.description {
  @include transition(color .5s ease-out);
  width: 50%;
}

.cta_container {
  bottom: 2em;
  position: absolute;
  right: 10px;
}

.contact_slots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    float: left;
    text-align: center;
    width: 25%;
  }
  a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: no-repeat 0 0;
    display: inline-block;
    height: 100px;
    width: 100px;
  }
}

.email {
  background-image: url('portfolio/email.png');
}
.twitter {
  background-image: url('portfolio/twitter.png');
}
.facebook {
  background-image: url('portfolio/facebook.png');
}
.linkedin {
  background-image: url('portfolio/linkedin.png');
}

.svg {
  .email {
    background-image: url('portfolio/email.svg');
  }
  .twitter {
    background-image: url('portfolio/twitter.svg');
  }
  .facebook {
    background-image: url('portfolio/facebook.svg');
  }
  .linkedin {
    background-image: url('portfolio/linkedin.svg');
  }
}

@media screen and (max-width: 800px) {
  .entry_heading {
    font-size: 1.5em;
  }
  .entry.open {
    .entry_heading {
      font-size: 3em;
    }
  }
  .description {
    width: auto;
  }
  .cta_container {
    position: static;
  }
  .section_description {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .entries {
    margin: 1em 0;
  }
  .entry_heading {
    font-size: 1.2em;
  }
  .entry {
    padding-top: 1em;
    margin: 1em 0;
    &.open {
      .entry_heading {
        font-size: 2.4em;
      }
    }
  }
  .contact_slots a {
    @include background-size(100%);
    width: 50px;
    height: 50px;
  }
}